/*==================================
RESPONSIVE DESIGN
==================================*/


/* Large Laptop */

@media(max-width:1200px){


.container{

    width:92%;

}


.hero-grid{

    gap:40px;

}



.tool-grid{

    grid-template-columns:repeat(3,1fr);

}



.navbar ul{

    gap:25px;

}


}



/*==================================
TABLET VIEW
==================================*/


@media(max-width:992px){


:root{

    --section-padding:90px;

}



.header{

    padding:15px 0;

}



.navbar{

    position:absolute;

    top:80px;

    left:0;

    width:100%;

    background:var(--card);

    backdrop-filter:blur(20px);

    padding:30px;

    border-radius:0 0 20px 20px;

    transform:translateY(-150%);

    opacity:0;

    transition:.4s;

}



.navbar.active{

    transform:translateY(0);

    opacity:1;

}



.navbar ul{

    flex-direction:column;

    gap:25px;

}



.menu-btn{

    display:flex;

    align-items:center;

    justify-content:center;

}



.hero-grid{

    grid-template-columns:1fr;

    text-align:center;

}



.hero p{

    margin-left:auto;

    margin-right:auto;

}



.hero-buttons{

    justify-content:center;

}



.hero-right{

    max-width:600px;

    margin:auto;

}



.tool-grid{

    grid-template-columns:repeat(2,1fr);

}



.category-grid{

    grid-template-columns:repeat(2,1fr);

}



.stats-grid{

    grid-template-columns:repeat(2,1fr);

}



footer .container{

    flex-direction:column;

    text-align:center;

}


}



/*==================================
MOBILE VIEW
==================================*/


@media(max-width:768px){



.container{

    width:90%;

}



.logo{

    font-size:24px;

}



.hero{

    padding-top:110px;

}



.hero h1{

    letter-spacing:-1px;

}



.hero p{

    font-size:16px;

}



.hero-buttons{

    flex-direction:column;

}



.btn{

    width:100%;

}



.glass-card{

    padding:25px;

}



.tool-grid{

    grid-template-columns:1fr;

}



.category-grid{

    grid-template-columns:1fr;

}



.stats-grid{

    grid-template-columns:1fr;

}



.newsletter .container{

    padding:50px 20px;

}



.newsletter h2{

    font-size:30px;

}



.newsletter form{

    flex-direction:column;

}



.newsletter input,

.newsletter button{

    width:100%;

}



.footer-links{

    flex-direction:column;

    align-items:center;

}



}




/*==================================
SMALL MOBILE
==================================*/


@media(max-width:480px){



.header-right{

    gap:8px;

}



.theme-btn,
.menu-btn{

    width:40px;

    height:40px;

}



.badge{

    font-size:12px;

}



.hero h1{

    font-size:30px;

}



.section-title h2{

    font-size:28px;

}



.tool-card{

    padding:25px 20px;

}



.stats h2{

    font-size:36px;

}



footer{

    padding:40px 0 20px;

}


}