body{

background:var(--bg);

color:var(--text);

font-family:var(--font);

}



.tool-header{

padding:25px 5%;

background:var(--glass);

backdrop-filter:blur(20px);

}



.tool-header a{

font-size:28px;

font-weight:800;

color:var(--primary);

}



.tool-section{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

}



.tool-container{

width:90%;

max-width:700px;

text-align:center;

}



.tool-container h1{

font-size:45px;

margin-bottom:15px;

}



.tool-container p{

color:var(--text-light);

}





.compress-box{

margin-top:40px;

padding:40px;

background:var(--glass);

border:1px solid var(--border);

border-radius:30px;

backdrop-filter:blur(20px);

box-shadow:var(--shadow);

}



.compress-box input[type="file"]{

margin:20px;

}



#preview{

max-width:300px;

max-height:300px;

border-radius:20px;

display:none;

margin:20px auto;

}



.details{

background:var(--card);

padding:20px;

border-radius:20px;

margin:20px 0;

}



#quality{

width:100%;

}



button,
#downloadBtn{


display:inline-block;

margin-top:25px;

padding:15px 30px;

border:none;

border-radius:50px;

background:var(--gradient);

color:white;

cursor:pointer;

font-weight:600;

}



#downloadBtn{

display:none;

text-decoration:none;

}



@media(max-width:600px){


.tool-container h1{

font-size:32px;

}


.compress-box{

padding:25px;

}


}